body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #f0f0f0;

    /* Background image */
    background: 
        linear-gradient(rgba(18,18,18,0.85), rgba(18,18,18,0.85)),
        url("/static/images/logo.png");

    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    background-attachment: fixed;
}
